.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > * {
    margin: .5em;
    flex: 1;
  }
}

.page-layout {
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .characters-section, .favorites-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      font-size: .8em;
      padding: 1em;
      width: 20em;
      height: 2em;
      border-radius: 1em;
      margin-bottom: 2em;
    }
  }

  .paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      margin: .5em;
    }
  }
}

